body {
    background-color: rgb(254, 253, 251);
    text-align: center;
}

h1 {
    text-align: center;
    width: 300px;
    border: 15px solid rgb(151, 147, 216);
    padding: 50px;
    margin: 20px auto;
 

}