body {
    background-color: rgb(247, 235, 200);
    text-align: center;
}

h1 {
    text-align: center;
    width: 300px;
    border: 15px solid rgb(51, 99, 189);
    padding: 50px;
    margin: 20px auto;
 

}